body,
p,
h1,
h2,
h3,
h4,
h5,
h6 {
	margin: 0;
}

body {
	min-width: 320px;
	font-family: Roboto, Arial, Helvetica, sans-serif;
}

button {
	padding: 0;
	border: none;
	outline: none;
	background-color: #fff;
	font-family: inherit;
	font-size: 1rem;
	cursor: pointer;
}

ul {
	list-style: none;
	margin: 0;
	padding: 0;
}

/* Header start */

.container {
	padding: 0 16px;
	text-align: center;
}

.nav,
.header__button {
	display: none;
}

.header {
	margin-top: 4%;
	margin-bottom: 8%;
}

.logo {
	text-align: center;
	display: inline-block;
}

.logo__image {
	width: 67.5vw;
	max-width: 318px;
}

.logo__text {
	text-transform: uppercase;
	color: #fff;
	position: absolute;
	top: 0;
	left: 0;
	line-height: 1px;
}

@media (min-width: 768px) {
	.header {
		position: relative;
		margin-bottom: 2%;
	}
	.nav {
		display: inline-block;
	}
	.nav__item {
		color: #a6abbd;
		position: relative;
	}
	.nav__item_active,
	.header__button {
		color: #fff;
		background-color: #00c368;
		border-radius: 8px;
		padding: 6px 24px;
		box-shadow: 0 8px 16px rgba(0, 195, 104, 0.4);
		transition: background-color 0.3s ease, box-shadow 0.3s ease;
	}
	.header__button:hover,
	.nav__item_active:hover {
		box-shadow: 0 8px 26px rgba(0, 195, 104, 0.4);
		border: 1px solid #00c368;
		background-color: transparent;
		color: #00c368;
	}
	.nav__item::after {
		width: 0;
		position: absolute;
		content: "";
		transition: width 0.3s ease;
	}
	.nav__item:not(.nav__item_active):hover::after {
		width: 100%;
		border: 2px solid #00c368;
		bottom: -9px;
		left: 0;
		border-radius: 5px;
	}
	.nav__item:active,
	.header__button:active {
		opacity: 0.8;
	}
	.container {
		text-align: left;
	}
	.nav,
	.header__button {
		position: absolute;
		top: 50%;
		transform: translateY(-50%);
	}
	.logo {
		text-align: left;
		margin-right: 35px;
	}
	.nav__item {
		margin-right: 35px;
	}
	.header__button {
		right: 64px;
	}
}

@media (min-width: 900px) {
	.header__button {
		display: inline-block;
	}
}

@media (min-width: 1300px) {
	.logo,
	.nav__item {
		margin-right: 70px;
	}
	.header {
		margin-top: 1.5%;
		margin-bottom: 4.5%;
	}
}

@media (min-width: 1440px) {
	.logo,
	.nav__item {
		margin-right: 87px;
	}
	.header__button {
		right: 84px;
		padding: 5px 36px;
	}
	body {
		max-width: 1920px;
		margin: 0 auto;
	}
	.container {
		padding: 0 72px;
	}
}

/* Header end */

/* Main start */

.main {
	position: relative;
}

.main__title {
	text-transform: uppercase;
	text-align: center;
	width: 87%;
	margin: -9px auto 50px;
}

@media (min-width: 1024px) {
	.main__title {
		position: absolute;
		top: 0;
		left: 0;
		right: 0;
		font-size: 40px;
	}
	.main__title::before {
		margin: 26px auto;
		display: block;
		content: "";
		width: 184px;
		height: 4px;
		background-color: #00c368;
	}
}

.main__pic {
	background: url(./img/mainPic.png) center no-repeat;
	background-size: contain;
	height: 51vw;
}

@media (min-width: 700px) {
	.main__pic {
		/* max-width: 556px; */
		max-width: 61vw;
		margin: 0 auto;
		height: 55vw;
		background-position-y: 74%;
		background-position-x: 27px;
	}
}

@media (min-width: 1024px) {
	.main__pic {
		max-width: 29vw;
	}
}

@media (min-width: 1224px) {
	.main__pic {
		/* max-width: 556px; */
		height: 52vw;
	}
}

@media (min-width: 1300px) {
	.main__pic {
		background-position-y: 67%;
	}
}

/* slick slider start */

.slider {
	text-align: center;
	position: relative;
	padding-bottom: 43%;
}

.slider__item-text {
	margin-top: 2px;
	width: 61%;
	margin: 0 auto;
}

.slick-dots li {
	display: inline-block;
	margin-right: 12px;
}

.slick-dots li:last-child {
	margin: 0;
}

li.slick-active:not(:last-child) {
	margin-right: 15px;
}

li.slick-active:last-child {
	margin-left: 4px;
}

.slick-dots {
	line-height: 0;
	position: absolute;
	bottom: 56px;
	left: 50%;
	transform: translate(-50%, -30%);
}

.slick-dots button {
	font-size: 0;
	border: none;
	background-color: #e7ebf0;
	padding: 4px;
	border-radius: 50%;
}

.slick-active button {
	background-color: #a6abbd;
}

.slick-next,
.slick-prev {
	position: absolute;
	bottom: 56px;
	font-size: 0;
	padding: 6px;
	border-left: 1px solid #a6abbd;
	border-bottom: 1px solid #a6abbd;
}

.slick-next {
	right: 28%;
	transform: rotate(225deg);
}

.slick-prev {
	left: 28%;
	transform: rotate(45deg);
}

@media (min-width: 1024px) {
	.slider {
		position: absolute;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		padding-bottom: 0%;
	}
	.slider__item {
		position: absolute;
	}
	.slider__item-text {
		width: 49%;
		/* margin: 0; */
	}
	.slider__item:nth-child(1) {
		top: 20%;
		left: 27%;
	}
	.slider__item:nth-child(2) {
		top: 19%;
		left: 47.5%;
	}
	.slider__item:nth-child(3) {
		top: 48%;
		right: 3%;
	}
	.slider__item:nth-child(4) {
		bottom: 0%;
		/* right: 32%; */
		left: 47.5%;
	}
	.slider__item:nth-child(5) {
		bottom: 0%;
		left: 25%;
	}
	.slider__item:nth-child(6) {
		top: 49%;
		left: 9%;
	}
	.svg-hover:hover path,
	.svg-hover:hover circle,
	.svg-hover:hover rect {
		stroke: #00c368;
		transition: stroke 0.1s ease;
	}
	.svg-hover {
		cursor: pointer;
	}
	.svg-hover:hover ~ .slider__item-text {
		opacity: 0.8;
		transition: opacity 0.1s ease;
	}
}

@media (min-width: 1280px) {
	.slider__item-text {
		width: 49%;
	}
	.slider__item:nth-child(1) {
		top: 17%;
		left: 31%;
	}
	.slider__item:nth-child(2) {
		top: 16%;
		left: 47.5%;
	}
	.slider__item:nth-child(3) {
		top: 48%;
		right: 12%;
	}
	.slider__item:nth-child(4) {
		bottom: 6%;
		/* right: 32%; */
		left: 47.5%;
	}
	.slider__item:nth-child(5) {
		bottom: 6%;
		left: 30%;
	}
	.slider__item:nth-child(6) {
		top: 49%;
		left: 17%;
	}
}

@media (min-width: 1650px) {
	.slider__item-text {
		width: 49%;
	}
	.slider__item:nth-child(1) {
		top: 18%;
		left: 33%;
	}
	.slider__item:nth-child(2) {
		top: 17%;
		left: 47.5%;
	}
	.slider__item:nth-child(3) {
		top: 48%;
		right: 21%;
	}
	.slider__item:nth-child(4) {
		bottom: 11%;
		/* right: 32%; */
		left: 47.5%;
	}
	.slider__item:nth-child(5) {
		bottom: 11%;
		left: 33%;
	}
	.slider__item:nth-child(6) {
		top: 49%;
		left: 23%;
	}
}

/* slick slider end */

@media (min-width: 1920px) {
	.main {
		transform-style: preserve-3d;
	}
	.main::before {
		bottom: 0;
		left: 0;
		position: absolute;
		content: url(./img/bobble_left.png);
	}
	.main::after {
		right: 0;
		top: 0;
		position: absolute;
		content: url(./img/bobble_right.png);
	}
}

/* section drop down start */
.drop-down {
	background-color: #f8fbff;
	padding-top: 40px;
}

.line {
	width: 184px;
	margin: 0 auto 18px;
	height: 4px;
	background-color: #00c368;
	/* margin-bottom: 16px; */
}

.drop-down__title {
	font-size: 24px;
	line-height: 28px;
	margin-bottom: 16px;
	width: 90%;
	margin: 0 auto 16px;
}

.drop-down__item-title {
	position: relative;
	text-align: left;
	font-size: 16px;
	line-height: 19px;
	padding-right: 2em;
	padding-top: 1em;
	margin-bottom: 1.5em;
}

.drop-down__item:not(.active) {
	cursor: pointer;
}

.drop-down__item:not(:last-child) {
	border-bottom: 1px solid #e7ebf0;
}

.drop-down__item-title::after {
	content: "";
	position: absolute;
	right: 0;
	top: 50%;
	transform: translateY(-50%) rotate(-45deg);
	padding: 8px;
	border-bottom: 2px solid #a6abbd;
	border-left: 2px solid #a6abbd;
	transition: transform .3s ease;
}

.drop-down__item:not(.active):hover > .drop-down__item-title::after {
	animation: move 1s ease infinite;
}

@keyframes move {
	0% {
		transform: translateY(-50%) rotate(-45deg);
	}

	50% {
		transform: translateY(0%) rotate(-45deg);
	}

	0% {
		transform: translateY(-50%) rotate(-45deg);
	}
}

.drop-down__subtitle {
	font-size: 16px;
	line-height: 24px;
	margin-bottom: 15px;
	font-weight: normal;
}

.drop-down__item-subtitle {
	text-align: left;
	padding-right: 2em;
	line-height: 0;
	font-size: 0;
	/* display: none; */
}

.drop-down__item.active > .drop-down__item-title {
	color: #00c368;
}

.drop-down__item.active > .drop-down__item-title::after {
	transform: rotate(135deg);
}

.drop-down__item.active .drop-down__item-subtitle {
	font-size: 16px;
	line-height: 19px;
	transition: font 0.2s ease;
}

/* section drop down end */

/* section feedback start */
.feedback {
	padding-top: 47px;
}

.feedback__title {
	margin-bottom: 115px;
}

.feedback__card {
	margin-bottom: 26px;
	position: relative;
}


.feedback__card.active .feedback__content {
	border-radius: 32px;
    padding: 80px 15px 20px 15px;
    /* position: relative; */
	box-shadow: 2px 2px 13px 0 rgb(0 195 104 / 44%),
		        3px 13px 20px rgba(0, 0, 0, 0.1);
}

.feedback__content {
    position: relative;
}

.feedback__card:not(.active) {
    cursor: pointer;
}

.feedback__card:not(.active) .feedback__content {
    width: 70%;
    margin-left: auto;
    text-align: left;
}

.feedback__card.reverse .feedback__content {
    margin-left: 0;
    margin-right: auto;
}

.feedback__card:not(.active) .feedback__text {
    overflow: hidden;
    height: 95px;
    padding-right: 6px;
}

.feedback__card:not(.active) .feedback__photo {
    position: absolute;
    left: 10px;
}

.feedback__card.reverse .feedback__photo {
    right: 10px;
    left: auto;
}

.feedback__card.active .feedback__content::before,
.feedback__card.active .feedback__content::after {
    content: url('./img/quotes.png');
    position: absolute;
    top: 24px;
    
}

.feedback__card.active .feedback__content::before {
    left: 16px;
}

.feedback__card.active .feedback__content::after {
    right: 16px;
}

.feedback__photo {
    width: 59px;
    border-radius: 50%;
    box-shadow: 0 10px 10px 3px rgba(0 0 0 / 40%);


}

.feedback__card.active .feedback__photo {
    float: none;
	position: absolute;
	top: 0;
	left: 50%;
	transform: translateY(-50%) translateX(-50%);
    z-index: 2;
}

.feedback__text,
.feedback__name {
    color: #2e3a59;
    margin-bottom: 20px;

}

.feedback__name {
    font-weight: 700;
    margin-bottom: 0;

}

.feedback__card.active .feedback__text {
	font-size: 16px;
	line-height: 150%;
	text-shadow: 0 4px 4px rgba(0, 0, 0, .25);
}

.feedback__card.active .feedback__name {
    text-shadow: 0 4px 4px rgba(0, 0, 0, .25);
}


/* section feedback end */
